@page
@model Gundarchuk.Pages.ChampionshipCommands.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChampionshipCommands</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ChampionshipCommands.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
